body {
    background: linear-gradient(90deg, rgba(221,232,255,1) 0%, rgba(255,227,251,1) 50%, rgba(228,254,255,1) 100%);
    overflow-x: hidden;
}
.table {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
}
#addChart {
    margin-top: 70px;
    width: 50%;
}
#pressMe,a {
    border-radius: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 300px;
}
.buttonpp{
    display: flex;
    justify-content: center;
}